{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/MainStyle.css'%}">
    <title>Coco  </title>

</head>
<body style="background-image: url('https://www.elpasotimes.com/gcdn/-mm-/7b2dd12804ca5958d81598ba57d2432a024f1877/c=81-0-1320-700/local/-/media/2017/11/13/TennGroup/Memphis/636461783516051023-coco.jpg?width=1239&height=619&fit=crop&format=pjpg&auto=webp'); background-size: cover; background-repeat: no-repeat;">
    <div class="blur-container">
        <div class="image-container">
            <img src="{% static 'images/Coco.jpg' %}" alt="Fantastic Mr. Fox poster">
        </div>
        <div class="text-container">
            <h1>Coco (2017)</h1>
                
            <p>Despite his family's generations-old ban on music, young Miguel dreams of becoming an accomplished musician like his idol Ernesto de la Cruz. Desperate to prove his talent, Miguel finds himself in the stunning and colorful Land of the Dead. After meeting a charming trickster named Héctor, the two new friends embark on an extraordinary journey to unlock the real story behind Miguel's family history.</p>
            <div class="links">
                <a href="https://www.imdb.com/title/tt2380307/">IMDb</a>
                <a href="https://youtu.be/xlnPHQ3TLX8?si=IAUsBByLROJPqpIP">Official Trailer</a>
                <a href="https://www.netflix.com/watch/60023642?source=35">Watch it on netflix</a>
            </div>
        </div>
    </div>
</body>
</html>