{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/MainStyle.css'%}">
    <title>IT</title>
</head>
<body style="background-image: url('https://m.media-amazon.com/images/M/MV5BMmY5OWQyZmMtMzhkNS00OWUxLTg5NWQtMTM4MmE3OGMyNTM5XkEyXkFqcGdeQWFsZWxvZw@@._V1_.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="blur-container">
        <div class="image-container">
            <img src="{% static 'images/IT.jpg' %}" alt="It movie poster">
        </div>
        <div class="text-container">
            <h1>It (2017)</h1>
            <p>Seven young outcasts in Derry, Maine, are about to face their worst nightmare -- an ancient, shape-shifting evil that emerges from the sewer every 27 years to prey on the town's children. Banding together over the course of one horrifying summer, the friends must overcome their own personal fears to battle the murderous, bloodthirsty clown known as Pennywise.</p>
            <div class="rating">
                <span style="cursor: pointer;">&#9733;</span>
                <span style="cursor: pointer;">&#9733;</span>
                <span style="cursor: pointer;">&#9733;</span>
                <span style="cursor: pointer;">&#9733;</span>
                <span style="cursor: pointer;">&#9733;</span>
            </div>
            <div class="links">
                <a href="https://www.imdb.com/title/tt1396484/">IMDb</a>
                <a href="https://youtu.be/cdg193GvnBA?si=qKNI6ceVCUGwQXtX">Official Trailer</a>
                <a href="https://www.netflix.com/title/80177770">Watch it on Netflix</a>
            </div>
        </div>
    </div>
    <script>
        const stars = document.querySelectorAll('.rating > span');
        stars.forEach((star, index) => {
            star.onclick = () => {
                stars.forEach((otherStar, otherIndex) => {
                    otherStar.style.color = otherIndex <= index ? 'gold' : 'gray';
                });
            };
        });
    </script>
</body>
</html>