{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/MainStyle.css'%}">
    <title>Split</title>

</head>
<body style="background-image: url('https://images.bauerhosting.com/legacy/empire-images/features/58878f8f88059b3e0c35f5a8/Split%201.jpg?auto=format&w=1440&q=80'); background-size: cover; background-repeat: no-repeat;">
    <div class="blur-container">
        <div class="image-container">
            <img src="{% static 'images/Split.jpg' %}" alt="Fantastic Mr. Fox poster">
        </div>
        <div class="text-container">
            <h1>Split </h1>
                
            <p>Though Kevin (James McAvoy) has evidenced 23 personalities to his trusted psychiatrist, Dr. Fletcher (Betty Buckley), there remains one still submerged who is set to materialize and dominate all of the others. Compelled to abduct three teenage girls led by the willful, observant Casey, Kevin reaches a war for survival among all of those contained within him -- as well as everyone around him -- as the walls between his compartments shatter.</p>
            <div class="links">
                <a href="https://www.imdb.com/title/tt4972582/">IMDb</a>
                <a href="https://youtu.be/84TouqfIsiI?si=PvYZXZU-sblwgsIp">Official Trailer</a>
                <a href="https://www.netflix.com/title/80124506">Watch it on netflix</a>
            </div>
        </div>
    </div>
</body>
</html>