{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'myFirst.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <h6>Campeones del Mundo</h6>
        <nav>
            <a href="{% url 'main:home' %}">Home</a>
            <a href="{% url 'main:argentina_history' %}">Argentina History</a>
            <a href="{% url 'main:wc_history' %}">WC History</a>
            <a href="{% url 'main:chi_givara' %}">Chi Givara</a>
            <a href="{% url 'main:maradona' %}">Maradona</a>
            <a href="{% url 'main:messi' %}">Messi</a>
            <a href="{% url 'main:about' %}">About</a>
        </nav>
        <form action="#">
            <input type="text" placeholder="Search">
            <button type="submit">Go</button>
        </form>
    </header>

    <img src="{% static '/Arg1.jpg' %}" alt="Lionel Messi">

    <pre>
    
        Lionel Messi, a name synonymous with footballing greatness, 
        began weaving his magic on the streets of Rosario, Argentina. 
        Diagnosed with growth hormone deficiency as a child, his 
        determination shone through.

        National Team: Messi finally captured the elusive international 
        glory in 2021, leading Argentina to their first Copa America 
        title in 28 years and following it up with a World Cup triumph 
        in 2022, earning the Golden Ball award in both tournaments. 
        He is Argentina's all-time leading scorer.

        Barcelona: Messi's club career is unrivaled. Spending most of 
        his professional years at FC Barcelona, he amassed a staggering 
        collection of trophies, including a record ten La Liga titles, 
        four Champions League victories, and a record seven Ballon d'Or 
        awards, solidifying his place as the club's greatest player.

        Titles with PSG and Inter Miami are yet to come: Having recently 
        joined Paris Saint-Germain, Messi is looking to add more Champions 
        League glory. While a future move to Inter Miami is speculated, 
        his impact there surely promises another chapter in his legendary career.

        Personal accolades: Messi holds the record for most goals in La Liga, 
        most Champions League goals by a single player, and most international 
        goals for a South American player. His dribbling skills, playmaking 
        vision, and unmatched finishing ability have cemented his legacy 
        as one of the greatest footballers of all time.

    </pre>

    <main>
        <style>
          #grad1 {
            height: 200px;
            background-image: repeating-linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255) 10%, rgb(192, 243, 255) 20%);
          }
        </style>
    </main>

    <footer>
        <marquee behavior="scroll" direction="left" scrollamount="5"><b>Meeeeessi Meeeeessi Meeeeessi</b></marquee>
    </footer>

</body>
</html>