body {
  background-color:rgba(0, 0, 128, 0.4);
}
.user-profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin: 15px;
}
.title {
  color: white;
  font-size: 150px;
  margin: auto;
}