{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <div>
        <header>
            <h3>Contact me</h3>
        </header>
        <div>
            <form action="">
                <p><label for="">Name:</label>
                    <input type="text"> </p>
                <p><label for="">Email</label>
                    <input type="email"> </p>
                <p><label for="">password</label>
                     <input type="password">
                </p>
                <p> <p>write a message for me.</p> <textarea name="" id="" placeholder="wirte here"></textarea></p>
                <input type="submit" value="Send">
                <input type="reset" value="Clear">
            </form>
        </div>
    </div>
    
</body>
</html>