{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/contactus.css' %}">


</head>

<body>

  {% include 'DjangoWeb/navbar.html' %}

  <section class="section">
    <div class="lottie-container h2Font" id="lottie-container"></div>

    <h1 style="font-size: 80px;" class=" h1 text-teal-500 ">Welcome To Mr.IT </h1>
    <br>

    <div class="table">
      <h2 class="animated-text text-teal-500" style="font-size: larger;">Assets Management Types</h2><br><br>

      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tangible Assets</td>
            <td>Physical assets like machinery, equipment, vehicles, etc.</td>
          </tr>
          <tr>
            <td>Intangible Assets</td>
            <td>Non-physical assets like patents, trademarks, copyrights, etc.</td>
          </tr>
          <tr>
            <td>Financial Assets</td>
            <td>Assets like stocks, bonds, mutual funds, etc., that have monetary value.</td>
          </tr>
          <tr>
            <td>Current Assets</td>
            <td>Assets expected to be converted into cash or consumed within a year.</td>
          </tr>
          <tr>
            <td>Fixed Assets</td>
            <td>Long-term assets like buildings, land, machinery, etc., used in production.</td>
          </tr>
        </tbody>
  
      </table>
      <br><br>
      <p><strong>Assets Management</strong> involves operating, maintaining, upgrading, and disposing of assets in the most cost-effective manner, considering all costs, risks, and performance attributes. Effective asset management ensures that resources are utilized efficiently and assets are maintained in optimal condition. This involves strategic planning and decision-making to balance costs and benefits, mitigate risks, and ensure compliance with regulatory requirements. By implementing best practices in asset management, organizations can extend the lifespan of their assets, improve operational efficiency, and achieve long-term financial stability. Additionally, leveraging technology and data analytics can enhance the ability to monitor asset performance, predict maintenance needs, and make informed decisions that align with organizational goals.</p>
    </div>
 
          <script>
        lottie.loadAnimation({
            container: document.getElementById('lottie-container'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: 'https://lottie.host/f2b363aa-acbd-4e3f-8b71-61ebf2962c63/DfKsn2rPJM.json'
          });
      </script>



  </section>


<br>
  <h1 class = "h2Font"style="text-align: center; font-size: 55px;">What Mr.IT Offer 🪄</h1>
  <section class="container">

    <div class="card">
      <img src="{% static '/images/asset.avif' %}" alt="Image" style="width: 100%; height: 200px;">
      <div class="title">Assets Management 📊</div>
      <p class="description">
        Operating, maintaining, upgrading, and disposing of assets in the most cost-effective manner (including all costs, risks, and performance attributes).
      </p>
      <div class="tags">
        <span>#Optimized</span>
        <span>#Efficient</span>
        <span>#Accessible</span>
      </div>
    </div>

    <div class="card">
      <img src="{% static '/images/cash.png' %}" alt="Image" style="width: 100%; height: 200px;">
      <div class="title">Cash Flow 💰</div>
      <p class="description">
        An asset may generate cash flow, reduce expenses, or improve sales, and it may be either tangible (like a piece of machinery) or intangible (like a copyright). For accounting purposes, assets are commonly classified as current, fixed, financial, or intangible.
      </p>
      <div class="tags">
        <span>#Optimized</span>
        <span>#Efficient</span>
        <span>#Accessible</span>
      </div>
    </div>

    <div class="card">
      <img src="{% static '/images/Efficient.png' %}" alt="Image" style="width: 100%; height: 200px;">
      <div class="title">Efficient 📈</div>
      <p class="description">
        Efficient asset management ensures that resources like assets are organized, optimized, and easily accessible, enhancing performance and Employees.
      </p>
      <div class="tags">
        <span>#Optimized</span>
        <span>#Efficient</span>
        <span>#Accessible</span>
      </div>
    </div>
    <section class="container">
      <footer class="text-center py-4">
        &copy; 2024 Mr.IT ❤️. All Rights Reserved. ®
      </footer>
    </section>

</body>

</html>
